@charset "UTF-8";

/*
    Tudo que em HTML é 'id', em CSS é '#'
    Tudo que em HTML é 'class', em css é '.'
*/

body{
    background-color:#2600c0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #00275e;
}

h1#Principal{

    text-align: center;
    background-color: #7E00E6 ;

}

h2{
    color: #000e8b;
}

.basico{
    color: greenyellow;
    font-weight: bold;
}
.intermediario{
    color: red;
}
.avançado{
    color: aliceblue;
}